/* For the AppointmentSection component */
.appointment-section {
    padding: 1rem;
    border: 2px solid gray;
    border-radius: 0.5rem;
    background-color: #f3f4f6; /* light gray */
    color: #1f2937; /* dark gray */
}

.appointment-section .footer-links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #1f2937; /* dark gray */
}
