.event-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .form-container,
  .display-container {
    width: 40%;
    padding: 190px;
    border: 1px solid #203acd;
    border-radius: 50px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input,
  .select-css {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 1px solid #212ccc;
  }
  
  .select-css {
    appearance: none;
    background-color: #e5e7e1;
    cursor: pointer;
  }

  .location-options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .location-options div {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    cursor: pointer;
  }
  
  .location-options div:hover {
    color: blue;
  }
  
  .location-options input {
    margin-left: 10px;
  }
  

.submit-button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  