.availability-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%; /* Adjust width to better fit the content */
  margin: 0 auto; /* Center the form */
  padding: 20px; /* Add padding for better spacing */
  background-color: #f9f9f9; /* Light background for contrast */
  border-radius: 20px; /* Rounded corners for better aesthetics */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  border-color: #000000;
}

.availability-day {
  margin-bottom: 20px; /* Added margin between days for spacing */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff; /* White background for each day */
  padding: 15px; /* Add padding for space */
  border-radius: 5px; /* Slight rounding for better aesthetics */
  box-shadow: 0 2px 4px; /* Light shadow for depth */

}

.availability-slot {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.availability-slot input[type="checkbox"] {
  margin-right: 10px; /* Added margin to separate checkbox from time inputs */
}

.availability-slot button {
  margin-left: 10px; /* Added margin to separate delete button from time inputs */
  padding: 5px 10px; /* Adjusted padding for the delete button */
  border: none;
  border-radius: 4px;
  background-color: #f44336; /* Changed delete button background color */
  color: white;
  cursor: pointer;
}

.availability-slot button:hover {
  background-color: #cc0000; /* Darkened delete button color on hover */
}

.availability-day h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

button[type="submit"] {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

button[type="submit"]:disabled {
  background-color: #cccccc; /* Changed disabled button background color */
  cursor: not-allowed;
}
