.event-details-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .event-edit, .event-details {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .event-edit form {
    display: flex;
    flex-direction: column;
  }
  
  .event-edit form label {
    margin-bottom: 10px;
  }
  
  .event-edit form input {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .event-edit form button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }
  
  .event-edit form button:hover {
    background-color: #45a049;
  }


  /* EventDetails.css */

.event-edit button {
  display: block; /* Stack the buttons vertically */
  width: 100%; /* Make the buttons take up the full width of the container */
  padding: 10px;
  margin-bottom: 10px; /* Add some space between the buttons */
  font-size: 18px; /* Increase the font size */
  border: none;
  border-radius: 4px;
  background-color: #3a5fb6;
  color: white;
  cursor: pointer;
  text-align: center;
}

.event-edit button:hover {
  background-color: #45a049;
}







  